## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mar Del Plata,AR,-38.00,-57.56,57.20,47,0,21.92,clear sky
1,1,Bilma,NE,18.69,12.92,89.91,13,0,7.65,clear sky
2,2,Mehamn,NO,71.04,27.85,37.40,77,40,12.75,scattered clouds
3,3,Zhangye,CN,38.93,100.45,40.80,57,0,1.34,clear sky
4,4,Bluff,NZ,-46.60,168.33,39.00,93,0,1.99,clear sky

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bilma,NE,18.69,12.92,89.91,13,0,7.65,clear sky
5,5,Kipini,KE,-2.53,40.53,79.12,80,1,13.80,clear sky
7,7,Talisayan,PH,6.99,121.93,77.38,87,100,7.81,overcast clouds
8,8,Bandarbeyla,SO,9.49,50.81,79.45,85,98,13.65,overcast clouds
10,10,Atuona,PF,-9.80,-139.03,77.94,73,25,21.99,scattered clouds
13,13,Karratha,AU,-20.74,116.85,80.37,31,0,11.83,clear sky
16,16,Bengkulu,ID,-3.80,102.27,76.19,87,100,3.62,overcast clouds
17,17,Hilo,US,19.73,-155.09,82.40,54,1,6.78,clear sky
21,21,Kapaa,US,22.08,-159.32,81.00,74,1,3.38,clear sky
23,23,Mercedes,AR,-34.65,-59.43,82.99,41,75,3.00,broken clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                224
City                   224
Country                222
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Current Description    224
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#N/A, no empty rows!

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bilma,NE,89.91,clear sky,18.69,12.92,
5,Kipini,KE,79.12,clear sky,-2.53,40.53,
7,Talisayan,PH,77.38,overcast clouds,6.99,121.93,
8,Bandarbeyla,SO,79.45,overcast clouds,9.49,50.81,
10,Atuona,PF,77.94,scattered clouds,-9.80,-139.03,
13,Karratha,AU,80.37,clear sky,-20.74,116.85,
16,Bengkulu,ID,76.19,overcast clouds,-3.80,102.27,
17,Hilo,US,82.40,clear sky,19.73,-155.09,
21,Kapaa,US,81.00,clear sky,22.08,-159.32,
23,Mercedes,AR,82.99,broken clouds,-34.65,-59.43,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    try:
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
#there are no null values for Hotel Name

City                   224
Country                222
Max Temp               224
Current Description    224
Lat                    224
Lng                    224
Hotel Name             224
dtype: int64

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search_Folder/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))